<phpunit
  backupGlobals = "false"
  backupStaticAttributes = "false"
  colors = "true"
  convertErrorsToExceptions = "true"
  convertNoticesToExceptions = "true"
  convertWarningsToExceptions = "true"
  processIsolation = "false"
  stopOnFailure = "true"
  syntaxCheck = "false"
  bootstrap="test/bootstrap.php">
  <testsuites>
    <testsuite name="Acme Test Suite">
      <directory>test/Acme</directory>
    </testsuite>
  </testsuites>
</phpunit>
